body {
  background-color: rgb(27, 27, 27);
}

.card-img-top {
  height: 400px;
  z-index: 1;
}

.card-img-top:hover {
  background-color: black;
  opacity: 0.2;
  cursor: pointer;
}

.truncate-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  line-height: 1.3em;
  padding-top: 65%;
}

.moduleBack {
  display: none;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.7);
}

.module-show {
  display: flex;
  justify-content: center;
  align-items: center;
}

.moduleWin {
  background-color: rgb(27, 27, 27);
  width: 60%;
  height: 600px;
  color: azure;
  display: flex;
  overflow: auto;
}

.img-module {
  height: 600px;
}

.module-text {
  padding: 15px;
}

.title-module {
  font-size: xx-large;
  padding-top: 10px;
}

.module-ended {
  margin-top: 35px;
  float: left;
}

.rating {
  padding-left: 5px;
  font-size: x-large;
}

.rating-green {
  color: green;
}

.rating-orange {
  color: orange;
}

.rating-red {
  color: red;
}

.close-button {
  float: right;
  width: 20px;
  height: 20px;
}

.favorites {
  color: azure;
  background-color: rgb(27, 27, 27);
  border-color: rgb(81, 247, 114, 0.5);
  padding: 8px;
  padding-left: 11px;
  padding-right: 11px;
  margin-top: 25px;
  border-style: double;
  border-radius: 8px;
  float: right;
}

.favorites-true {
  background-color: rgb(81, 247, 114, 0.5);
}

@media screen and (min-width: 426px) and (max-width: 820px) {
  .card-img-top {
    height: 450px;
  }

  .moduleWin {
    display: block;
    height: 800px;
  }

  .img-module {
    display: block;
    margin: auto;
    height: 500px;
  }
}

@media screen and (max-width: 425px) {
  .truncate-text {
    padding-top: 50%;
  }

  .moduleWin {
    display: block;
  }

  .img-module {
    height: 60%;
  }

  .module-ended {
    margin-top: 0;
    margin-bottom: 10px;
  }

  .favorites {
    float: left;
  }

  .card-img-top {
    height: auto;
  }

  .col {
    padding-left: 30px;
    padding-right: 30px;
  }
}
